<div class="profile-container">
  <div class="title">Profile</div>

  <!-- user profile -->
  <div class="user-profile">
    <img src="https://picsum.photos/200" alt="" class="user-img" />
    <div class="status">
      <div>Online</div>
    </div>
    <div class="user-name">Duc Phuong</div>
  </div>

  <div class="personal-info">
    <!-- Phone number -->

    <!-- Date of birth -->

    <!-- gender -->

    <!-- email -->

    <!-- reset password -->
    <table>
      <tr>
        <td>Phone number:</td>
        <td>0968 267 621</td>
      </tr>
      <tr>
        <td>Date of birth:</td>
        <td>21st March</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>dphuong2103@gmail.com</td>
      </tr>

      <tr>
        <td>Gender:</td>
        <td>Male</td>
      </tr>
    </table>
  </div>
</div>
