<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    id="liveToast"
    [ngClass]="{ toast: true, show: toast.isShown, hide: !toast.isShown }"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <div class="toast-title">
        {{ toast.title }}
      </div>
      <button
        type="button"
        class="btn-close ms-auto text-white"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">{{ toast.message }}</div>
  </div>
</div>
